@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.swiper-pagination {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center !important;
}

.main_bullet {
  border-radius: 100% !important;
  background-color: #fff !important;
  opacity: 1 !important;
  width: 10px !important;
  height: 10px !important;
  border: 1px solid #d9d9d9 !important;
  margin-right: 7px;
}

.main_bullet_active {
  background-color: #ac672e !important;
  border-radius: 100% !important;
  width: 10px !important;
  height: 10px !important;
  border: none !important;
}

.menu {
  animation: hidden 1s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f6f6f6;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 0.5s;
  overflow-y: auto;
}

.menu.active {
  transform: translateX(0%);
}
